{% extends 'base.html.twig' %}

{% block title %}New Credits{% endblock %}

{% block body %}
    <h1>Create new Credits</h1>

    {{ include('credits/_form.html.twig') }}

    <a href="{{ path('credits_index') }}">back to list</a>
{% endblock %}
