{% extends 'simulation/simulation.html.twig' %}

{% block Objectifs %}<li class="active">Objectifs</li> {% endblock %}

{% block body %}
    <div class="content-form">
        {{ include('objectifs/_form.html.twig') }}
    </div>
{% endblock %}

{% block js %}

{% endblock %}
