{% extends 'simulation/simulation.html.twig' %}

{% block body %}
    <!-- Partie Client -->

    <div class="content-form">
        {{ include('clients/_form.html.twig') }}
    </div>

{% endblock %}
